.playground {
  position: relative;
  width: 100%;
  text-align: center;
  z-index: 1;
}

.field {
  position: relative;
  background-color: green;
  background-image: linear-gradient(to right bottom, #199e3c, #489316);
  border: solid;
  border-width: 10px;
  border-color: bisque;
}

.ball-div {
  position: absolute;
  transition: top 0.5s, left 0.5s;
  top: 0;
  left: 0;
  z-index: 4;
}

.enemy-div {
  position: absolute;
  transition: top 1s, left 1s, opacity 1s;
  top: 0;
  left: 0;
  opacity: 0.05;
  z-index: 2;

  animation: shake .7s linear alternate infinite;
  -webkit-animation: shake .7s linear alternate infinite;
}

.toy-div  {
  position: absolute;
  transition: top 0.5s, left 0.5s;
  top: 0;
  left: 0;
  z-index: 0;
}

.countdown-clock {
  position: absolute;
  top: calc(50% - 90px);
  left: calc(50% - 90px);
  width: 150px;
  height: 150px;
  background: linear-gradient(to left top, #cae2e3, #ccffff);
  border: solid;
  border-width: 25px;
  border-color: #D7695A;
  border-radius: 50%;
  box-shadow: inset 0 0 15px rgba(0,0,0,.5);
  text-align: center;
  line-height: 150px;
  font-family: 'Blackadder ITC';
  font-size: 40px;
  font-weight: bold;
  color: #cae2e3;
  text-shadow: black 0 0 3px, #2d2121 2px 5px 5px;
  overflow: hidden;
  z-index: 16;
}

.game-over-sign {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../img/gameover.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  z-index: 9;
}

.win-sign {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../img/win.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  z-index: 9;
}


/* ANIMATION */

@keyframes shake {
  0% {
    transform: translate(25%, -25%);
  }
  25% {
    transform: translate(25%, 25%);
  }
  75%  {
    transform: translate(-25%, -25%);
  }
  100% {
    transform: translate(-25%, 25%);
  }
}

@-webkit-keyframes shake {
  0% {
    -webkit-transform: translate(25%, -25%);
  }
  25% {
    -webkit-transform: translate(25%, 25%);
  }
  75%  {
    -webkit-transform: translate(-25%, -25%);
  }
  100% {
    -webkit-transform: translate(-25%, 25%);
  }
}

@-moz-keyframes shake {
  0% {
    -moz-transform: translate(25%, -25%);
  }
  25% {
    -moz-transform: translate(25%, 25%);
  }
  75%  {
    -moz-transform: translate(-25%, -25%);
  }
  100% {
    -moz-transform: translate(-25%, 25%);
  }
}